 /* .intro-container {
  display: flex;  
  flex-direction: column;
  align-items: center ;
  margin-top: 12rem;
 justify-content: center;
  height:calc(100vh - 15rem);  
} */

/* .text-content {
  flex: 1;  
  padding: 2rem;
} */

#intro {
    min-height: 100vh;
    padding: 2rem ;
  
}

.intro-container {
    margin-top: 10rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 100;
}

.image-container {
 
  z-index:-100;
 
}

    /* .image-container img {
    max-width: 100%; 
    position: absolute;
    top: -4rem;
    right: 11rem;
    z-index: -1;
    padding:2rem;
    object-fit: cover;
    justify-content: center;
    width: 35rem;
    height: 100vh;
    } */

/* .intro {
    height: calc(100vh - 4rem);
    max-width: 75rem;
    width: 100vw;
    margin: 0 auto;
    background-color:#1f242d;
    display: flex;
    flex-direction: column;
} */
 

/* 
.introcontent {
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    font-weight: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
} */


.Iam {
    font-size: 3rem;
    color: #fff;
}



.hello {
    font-size: 2rem;
    color: white;
}


.name {
    color: #0ef;
    line-height: 1.5;
    font-size: 3rem;

}


.introparag {
font-size: 1.2rem;
width: 50vw;
line-height: 1.5;
color: #cfcecf;
}

.frontend {
    font-size: 3rem;
    font-weight: bolder;
    width: 65vw;
    color: #0ef;
} 

.andspan {
    font-size: 3rem;
    font-weight: bolder;
    color: white; 
}



 @keyframes blink {
    0%, 100% {
        opacity: 1;
        
    }
    50% {
        opacity: 0;
    
    }
} 

.frontend::after {
    content: '|';
    display: inline-block;
    margin-left: 5px;
    opacity: 1;
    animation: blink 1s infinite;
} 


@media screen and (max-width: 960px) { 
.image-container img {
/* left: 2rem; */

}
    .bgimg {

        /* left: -24vw; */

    }

    .introparag {

        font-size:  1.3rem;
        /* width: 65vw; */

}

    .frontend {

        font-size: 2rem;
        /* width: 85vw; */

    }

    .andspan {
        font-size: 2rem;
    }

   
    .hello {

        font-size: 1.6rem;

    }

    .Iam {

        font-size: 2rem;

    }
    .name {

        font-size: 2rem;

    }
}

@media screen and (min-width:761px) {

.introparag {
    /* max-width: 50vw; */
}

.intro-container {
    justify-content: center;
}
    
}
 
