* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#contact {

    padding-top: 5rem;
    align-items: center;
    text-align:center ;
    justify-content: center;
    /* height: 90vh; */
    display: flex;
    background-color: #323946;
    flex-direction: column;
   /* background-color: blanchedalmond; */

}


.contactdesc {
    font-size: 3rem;
    color: #fff;
    font-weight: 700; 
    margin-bottom: 1rem;
    text-align: center;
}

.contactdescc {
    font-size: 3rem;
  color: #0ef;
    font-weight: 700; 
    margin-bottom: 1rem;
    text-align: center;
}

.contactinfo {
    font-size: 1.2rem;
    color: #cfcecf;
}

.contactform {
    max-width: 90%;
    margin: 1rem auto;
}

.contactform input {
    width: 90%;
    background-color:#1f242d;
}

.contactform textarea {
    width: 90%;
     background-color:#1f242d;
}

.text, .email, .msg {
    background-color: rgb(40, 40, 40);
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    font: bold;
    width: 100%;
    font-size: 1rem;
    max-width: 40rem;
    margin: .5rem auto;
}

.text:focus, .email:focus, .msg:focus {
    border: .1rem solid powderblue;
    outline: none;
}

.submitbtn {
    width: 100%;
    max-width: 10rem;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: .5rem;
    color:#1f242d;
    background-color: white;
    cursor: pointer;
    font-size: large;
    transform: translateY(0);
}

.submitbtn:hover {
    color: #fff;
    background-color:#1f242d;
    transition: .5s ease;
}

.footerlink {
    margin: 1rem;
    font-size: large;
    font-weight: 300;
}

.linkcontainer {
    margin: 3rem auto;

}