body {
  margin: 0 ;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
       /* background-color: #1f242d; */
       background-color: #0a0a23;
       color: #0ef;
    
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
